body {
  background: #1c394d;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  color: white;;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-content: center;
  display: flex;
}

.disclaimer, .links {
  justify-content: center;
  display: flex;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(136, 136, 136);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 81, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
